@font-face {
    font-family: 'MoonBrack';
    src: url('../fonts/Righteous-Regular.ttf') format('truetype');
}
html{
    height: 100%;
}
body {
    margin: 0;
    font-family: 'MoonBrack', Arial, sans-serif;
    background-color: #151515;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: revert;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

header {
    background-color: transparent;
    padding: 4px;
    text-align: center;
    z-index: 2;
}

.banner {
    max-height: 730px;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    min-height: 597px;
    width: 100%;
    position: relative;
}

.banner h1{
    color: white;
    font-size: 70px;
    top: 100px;
    left:400px;
    position: relative;
    margin: auto;
}

section {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#logo {
    display: inline-block;

}
#logo img{
    width: 100px;
    height: 110px;
}
#nav-left, #nav-right {
    display: inline-block;
    vertical-align: middle;
}

#nav-left a, #nav-right a {
    color: white;
    text-decoration: none;
    padding: 10px; /* Adjust padding as needed */
    margin: 0 40px;
    display: inline-block;
    position: relative;
    transition: 0.3s ease;
    bottom: 38px; /* Adjust the distance of the underline from the text */
}

#nav-left a::before, #nav-right a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
}

#nav-left a:hover::before, #nav-right a:hover::before {
    width: 100%;
}

.page-content {
    position: relative;
    z-index: 1;
    text-align: left;
    margin-top: -150px; /* Adjust this value based on your needs */
}

.page-content h2 {
    margin-top: 90px;
    color: white;
}

.moon{
    width: 300px;
    height: 300px;
    position: relative;
    top: 230px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px;
}

.moon::after{
    position: relative;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-color: black;
    border-radius: 50%;
    box-shadow: -40px -40px 50px 2px #000 inset;
}

.moon > div img{
    width: 200%;
    height: 300px;
    animation: spin 40s linear alternate infinite;
    /*background: url('../public/m1.jpg');*/
    background-size: 100% 100%;
}

@keyframes spin {
    to{
        transform: translateX(-50%);
    }
}

.page-content-1{
    background-color: white;

}

.page-content-1 h2{
    font-size: 50px;
    text-align: center;
}

.divider {
    height: 1px;
    background: #000;
    background: -webkit-linear-gradient(to left, rgb(255, 255, 255) 0%, rgb(50, 50, 50) 50%, rgb(255, 255, 255) 100%);
}

.divider.light {
    background: #fff;
    background: -webkit-linear-gradient(to left, rgb(90, 90, 90) 0%, rgb(255, 255, 255) 50%, rgb(90, 90, 90) 100%);
}


.divider.light:before {
    position:relative;
    float:left;
    background: linear-gradient(to right, rgba(100, 100, 100, 0), rgba(100, 100, 100, 1) 50%);
    margin-top:2px;
    width:50%;
    height:.5px;
    content:"";
}

.divider.light:after {
    position:relative;
    float:right;
    background: linear-gradient(to left, rgba(100, 100, 100, 0), rgba(100, 100, 100, 1) 50%);
    margin-top:2px;
    width:50%;
    height:.5px;
    content:"";
}

.divider:before {
    position:relative;
    float:left;
    background: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 1) 50%);
    margin-top:2px;
    width:50%;
    height:.5px;
    content:"";
}

.divider:after {
    position:relative;
    float:right;
    background: linear-gradient(to left, rgba(100, 200, 200, 0), rgba(200, 200, 200, 1) 50%);
    margin-top:2px;
    width:50%;
    height:1px;
    content:"";
}
/* Presentation only */
.width80 {width:80%;margin:0px auto;padding-top:50px;}
.light-background {background:#fff;margin-top:50px;width:100%;height:100px;}

.icons-offer {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    align-items: center;
}

.icon-container {
    text-align: center;
}

.icon-container img {
    width: 100px; /* Adjust the image size as needed */
    height: auto; /* Maintain aspect ratio */
}

.page-content-2 h2{
     color: white;
    font-size: 50px;
    text-align: center;
}

.price-cards-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.price-card {
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 30%;
    margin: 12px;
}

.price-card h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.price-card p.price {
    color: #e44d26;
    font-size: 18px;
    margin-bottom: 20px;
}

.price-card p.description {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

.modern-footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}
/* Remove blue color from links */
.footer-column a {
    color: #fff;
    text-decoration: none;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    margin: 0 20px;
}

.footer-logo {
    width: 150px; /* Adjust the logo size as needed */
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    margin-right: 10px;
}

.social-links i {
    transition: color 0.3s ease;
}

.social-links a:hover i {
    color: #e44d26; /* Adjust the hover color as needed */
}

.social-links {
    display: flex;
    justify-content: space-around;
}

.social-links img {
    width: 30px; /* Adjust the width of the icons as needed */
    height: 30px; /* Adjust the height of the icons as needed */
    border-radius: 50%; /* Make the icons circular */
}

form {
    flex: 1;
    max-width: 400px;
    margin-right: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #151515;
    color: white;
}

input[type="submit"] {
    background-color: #fff;
    color: #151515;
    cursor: pointer;
}

#map {
    flex: 1;
    width: 100%;
    height: 300px;
    margin-top: 20px;
}

.owner {
    flex: 1;
    text-align: center;
    margin-top: 20px;
}

.owner img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}